/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
/*Fonts*/
@font-face {
  font-family: AvenirNextCondensed;
  src: url(fonts/AvenirNextCondensed.ttc);
}
@font-face {
  font-family: AvenirNextLTPro-Bold sans-serif;
  src: url(fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: AvenirLTStd-Book sans-serif;
  src: url(fonts/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: AvenirLTStd-Light sans-serif;
  src: url(fonts/AvenirLTStd-Light.otf);
}

body {
  font-family: "AvenirLTStd-Book", sans-serif;
  font-weight: 200;
  list-style: none;
  line-height: 0;
}

#container {
  display: grid;
  grid-template-columns: [first] 100%;
  grid-template-rows: repeat(933px, 4);
}
/* FIN Estilos Generales */

/* PARTE 1: Estilos Introducción y Descargas */
.logo {
  margin-top: 25px;
  height: 100%;
}

.logo img {
  width: 300px;
  display: block;
  margin: auto;
  padding-top: 25px;
}

#comidas {
  max-width: 40vw;
  min-width: 200px;
}

.heading {
  border: 1px solid white;
  justify-content: center;
}

h1 {
  margin-top: 58px;
  margin-bottom: 30px;
  padding-right: 52px;
  padding-bottom: 45px;
  padding-left: 52px;
  color: #ff0026;
  font-weight: 700;
  font-family: "AvenirNextCondensed", sans-serif;
  font-size: 65px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.box-login {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  height: 135px;
  text-align: center;
}

form {
  height: 55px;
  margin-bottom: 30px;
}

input {
  height: 58px;
  width: 180px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  appearance: none;
  padding-right: 16px;
  padding-left: 16px;
  font: inherit;
  font-size: 20px;
  font-weight: 500;
}

input:focus {
  border: 2px solid #007aff;
  outline: none;
  box-shadow: 1px 1px 10px #d9d9d9;
}

button {
  background-color: #ff0026;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1px 16px;
  margin: 6px;
  height: 55px;
  border-radius: 8px;
  font-family: "AvenirNextBold", sans-serif;
  font-size: 20px;
  transition: transform 0.5s;
  box-shadow: 0 2px 10px #d9d9d9;
}

button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

#login {
  margin-top: 15px;
}

#login,
a {
  font-size: 18px;
  color: #888b90;
}

#login a {
  font-weight: bold;
  font-family: "AvenirNextBold", sans-serif;
}

.gif {
  text-align: center;
  margin-bottom: -100px;
}
#comidas {
  max-width: 40vw;
  min-width: 200px;
}

.download {
  background-color: rgba(220, 220, 223, 0.5);
  padding-top: 65px;
  padding-bottom: 75px;
  backdrop-filter: blur(20px);
}

.text-buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}

.title {
  display: inline-flex;
  font-family: "AvenirNextBold", sans-serif;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 10px;
}

.title h2 {
  font-size: 2.1rem;
  font-weight: 600;
}

.boxes {
  display: inline-flex;
  margin: 35px;
}

.boxes img {
    max-width: 209px;
    height: auto;
}

@media screen and (max-width: 500px){
  .boxes {
    display: block;  
  }

  .boxes img{
    margin-top: 15px;  
  }
}

.boxes div {
  margin: 0 10px 0 10px;
}


/* FIN PARTE 1 */

/* PARTE 2: Estilos de Como funciona */
#part2 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: baseline;
}

.fruit {
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url(img/frutsx2.jpeg);
  max-width: 1500px;
  margin: 0 auto;
}

#part2 footer {
  width: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .fruit {
    background-image: url(img/frutsx2.jpeg);
  }
}

.numbers {
  display: flex;
}

.numbers figure {
  display: block;
  margin: 0 auto;
  font-family: "AvenirNext", sans-serif;
  margin-bottom: 32px;
  width: 84px;
  height: 84px;
  line-height: 84px;
  font-size: 42px;
  font-weight: 500;
  border-radius: 8px;
  color: white;
}

.numbers li:nth-child(1) figure {
  border: 2px solid #ff000e;
  background: #ff000e;
}

.numbers li:nth-child(2) figure {
  border: 2px solid #f58900;
  background: #ff8f00;
}

.numbers li:nth-child(3) figure {
  border: 2px solid #00d44e;
  background: #00de52;
}

ol {
  list-style: none;
}

.numbers h2 {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  font-family: "AvenirNext", sans-serif; /* Para cambiar la fuente */
}

.numbers p {
  font-size: 18px;
  color: #2b2b2ba6;
}

.numbers li {
  line-height: 1.2;
}

.numbers > * {
  width: 33.3333333333%;
  padding: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 52px;
  padding-right: 52px;
  margin: 0 auto;
  max-width: 1037px;
}

.list header {
  zoom: 1;
  padding-bottom: 5px;
  display: table;
  width: 100%;
}
.list header h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 800;
  font-family: "AvenirNextLTPro-Bold", sans-serif;
}

@media (max-width: 600px) {
  .numbers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .numbers > * {
    width: 100%;
    padding: 16px;
  }

  .list {
    padding-left: 32px;
    padding-right: 32px;
  }

  .fruit {
    background-size: 540px;
    height: 120px;
  }
}
/* FIN PARTE 2 */

/* PARTE 3: Shoppers y tiendas */

.Parte3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.Contenedor {
  display: grid;
  background-color: #dcdcdf;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  grid-template-areas:
    "a a b b"
    "a a b b"
    "c c c c";
}


.Contenedor div {
  display: grid;
  background-color: #000000;
  text-align: center;
  color: #ccc;
  border: 1px solid #dcdcdf;
  border-radius: 12px;
  height: 420px;
  font-family: 'AvenirLTStd-Book', sans-serif;
  font-weight: bolder;
}


@media (max-width:600px){
  .Contenedor div {
    height: 300px;
  }
}

#shopper header {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.85) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-top: 50px;
  padding-bottom: 42px;
  margin-bottom: 8px;
  color: black;
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  text-shadow: 0px 2px 4px rgb(255 255 255 / 50%);
  border-radius: 12px;
}

#shopper span {
  color: #4a4a4a;
  margin-bottom: 8px;
}

#shopper h2 {
  font-size: 1.5em;
  color: black;
  padding-top: 35px;
  text-shadow: 0px 2px 4px rgb(255 255 255 / 50%);
  vertical-align: middle;
}

#shopper h2 img {
  display: inline-block;
}


#tienda header {
  background: linear-gradient(rgba(0, 0, 0, 0.85) 40%, rgba(0, 0, 0, 0) 100%);
  color: #888b90;
  text-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
  padding-top: 50px;
  padding-bottom: 42px;
  margin-bottom: 8px;
  border-radius: 12px;
  font-family: "AvenirNextLTPro-Bold", sans-serif;
}

#tienda h2 {
  font-size: 1.5em;
  color: white;
  padding-top: 35px;
  text-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
  vertical-align: middle;
}


.Contenedor div {
  width: 100%;
  background-color: #000000;
  text-align: center;
  color: #ccc;
  border: 1px solid #dcdcdf;
  border-radius: 12px;
  
}

#shopper {
  background-image: url(https://s.cornershopapp.com/static/landings/homepage/img/Bags_2x.png);
  grid-area: a;
  background-position: 70% 100%, 100% 100%;
  
  background-size: cover;
}

#tienda {
  background-image: url(https://s.cornershopapp.com/static/landings/homepage/img/Storefront_2x.jpg);
  grid-area: b;
  background-size: cover;
}


#PF {
  background-color: #2b2b2b;
  grid-area: c;
  width: 100%;
  height: 225px;
  padding-top: 30px;
  background-size: cover;
  
}

#PF header {
  color: #888b90;
  padding-top: 50px;
  font-family: "AvenirNextLTPro-Bold", sans-serif;
}

#PF h2 {
  font-size: 1.5em;
  color: white;
  padding: 30px 38px 0 38px;
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  text-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
  vertical-align: middle;
}

.textextra {
  color: white;
}

@media (max-width: 1000px) {
  .Contenedor {
    display: block;
  }
  #shopper, #tienda{
    margin: auto;
  }
  #tienda{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 1000px) {

  #shopper, #tienda{
    width: 100% !important;

  }
}

/* FIN PARTE 3 */

/* PARTE 4: Estilos de Footer */
.footer {
  background-color: #2b2b2b;
  min-height: 60vh;
}

.footer-container {
  max-width: 933px;
  margin: 15px auto;
  padding: 30px 0;
  max-height: 288px;
  display: grid;
  grid-template-columns: 200px 200px 1fr 1fr;
  grid-template-rows: 200px 1fr;
  font-size: 1rem;
  line-height: 2;
}
@media (max-width: 950px) {
  .footer-container {
    margin: 15px 20px;
  }
}

@media (max-width: 650px) {
  .footer {
    min-height: 110vh;
  }
  .footer-container {
    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 200px 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .footer {
    min-height: 120vh;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 1fr;
  }
}
@media (max-width: 350px) {
  .footer {
    min-height: 150vh;
  }
  .footer-container {
    display: block;
  }
}

.links,
.copyright p {
  color: #888b90;
}

ul {
  list-style: none;
}

.social {
  color: #dcdcdf;
}

.links li:hover,
.social li:hover,
.app-icons svg:hover {
  color: #fff;
  cursor: pointer;
}

.app-icons svg {
  height: 45px;
  width: 130px;
  display: block;
  transition: transform 0.4s;
}

@media (max-width: 650px) {
  .app-icons {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 20px;
  }
}

#google-play {
  margin-top: 16px;
}

#google-play:hover,
#app-store:hover {
  transform: translateY(-5px);
}

.country {
  display: flex;
  justify-self: right;
  flex-direction: column;
  grid-column-start: 4;
  grid-row-start: 1;
}
@media (max-width: 750px) {
  .country {
    grid-column-start: 3;
    grid-row-start: 2;
    flex-direction: column-reverse;
  }
}
@media (max-width: 600px) {
  .country {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 20px;
  }
}

.country .country-btn {
  margin-top: auto;
  min-width: 200px;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ccc;
  color: #4a4a4a;
  outline: none;
}

.country-btn:hover,
.to-top:hover {
  cursor: pointer;
}

.to-top {
  color: #fff;
  font-size: 42px;
  grid-column-start: 4;
  grid-row-start: 1;
  margin-left: auto;
}
.copyright {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  font-size: 14px;
  margin-top: 35px;
}
@media (max-width: 650px) {
  .copyright {
    grid-column-start: 1;
    grid-row-start: 4;
  }
}

