* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
@font-face {
  font-family: AvenirNextCondensed;
  src: url(fonts/AvenirNextCondensed.ttc);
}

@font-face {
  font-family: AvenirNext sans-serif;
  src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: AvenirNextBold sans-serif;
  src: url(fonts/AvenirNextLTPro-Bold.otf);
}

body {
  font-family: 'AvenirNextCondensed', sans-serif;
  font-weight: 400;
  list-style: none;
}

#container {
  display: grid;
  grid-template-columns: [first] 100%;
  grid-template-rows: 200px 200px 200px 200px;
}

#part2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: baseline;
}

.fruit {
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url(img/fruts.png);

  margin: 0 auto;
}

#part2 footer {
  width: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
  .fruit{
    background-image: url(img/frutsx2.png);
  }
}


.numbers {
  display: flex;
}

.numbers figure {

  display: block;
  margin: 0 auto;
  font-family: 'AvenirNext', sans-serif;
  margin-bottom: 32px;
  width: 84px;
  height: 84px;
  line-height: 84px;
  font-size: 42px;
  font-weight: 500;
  border-radius: 8px;
  color: white;
}

.numbers li:nth-child(1) figure {
  border: 2px solid #ff000e;
  background: #ff000e;
}

.numbers li:nth-child(2) figure {
  border: 2px solid #f58900;
  background: #ff8f00;
}

.numbers li:nth-child(3) figure {
  border: 2px solid #00d44e;
  background: #00de52;
}
ol {
  list-style: none;
}

.numbers h2 {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers p {
  font-size: 18px;
  font-family: 'AvenirNext', sans-serif;
  color: #2b2b2ba6;
}

.numbers li {
  line-height: 1.2;
}

.numbers > * {
  width: 33.3333333333%;
  padding: 16px;
}


.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding-left: 52px;
    padding-right: 52px;
    margin: 0 auto;
    max-width: 1037px;
  }

.list header {
  zoom: 1;
  padding-bottom: 35px;
  display: table;
  width: 100%;
}
.list header h2 {
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 600px;
}

@media (max-width: 600px) {
  .numbers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }

  .numbers > * {
    width: 100%;
    padding: 16px;
  }

  .list{
    padding-left: 32px;
    padding-right: 32px;
  }

  .fruit {
    background-size: 540px;
    height: 120px;
}
}

/* Estilos de Footer */
.footer {
  background-color: #2b2b2b;
  min-height: 60vh;
}

.footer-container {
  max-width: 933px;
  margin: 0 auto;
  padding: 30px 0;
  max-height: 288px;
  display: grid;
  grid-template-columns: 200px 200px 1fr 1fr;
  grid-template-rows: 200px 1fr;
  font-size: 18px;
  line-height: 2;
}
@media screen and (max-width: 950px) {
  .footer-container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    min-height: 110vh;
  }
  .footer-container {
    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 200px 1fr 1fr;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    min-height: 120vh;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 1fr;
  }
}
@media screen and (max-width: 350px) {
  .footer {
    min-height: 150vh;
  }
  .footer-container {
    display: block;
  }
}

.links,
.copyright p {
  color: #888b90;
}

.social {
  color: #dcdcdf;
}

.links li:hover,
.social li:hover,
.app-icons svg:hover {
  color: #fff;
  cursor: pointer;
}

.app-icons svg {
  height: 45px;
  width: 130px;
  display: block;
  transition: transform 0.4s;
}

@media screen and (max-width: 650px) {
  .app-icons {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 20px;
  }
}

#google-play {
  margin-top: 16px;
}

#google-play:hover,
#app-store:hover {
  transform: translateY(-5px);
}

.country {
  display: flex;
  justify-self: right;
  flex-direction: column;
  grid-column-start: 4;
  grid-row-start: 1;
}
@media screen and (max-width: 750px) {
  .country {
    grid-column-start: 3;
    grid-row-start: 2;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .country {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 20px;
  }
}

.country .country-btn {
  margin-top: auto;
  min-width: 200px;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
  color: #4a4a4a;
  outline: none;
}

.country-btn .iconify {
  font-size: 30px;
}

.country-btn p {
  display: flex;
}

.country-btn .arrow {
  transform: rotate(180deg) !important;
  margin-left: auto;
}

.country-btn:hover,
.to-top:hover {
  cursor: pointer;
}

.to-top {
  color: #fff;
  font-size: 42px;
  grid-column-start: 4;
  grid-row-start: 1;
  margin-left: auto;
}
.copyright {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  font-size: 14px;
  margin-top: 35px;
}
@media screen and (max-width: 650px) {
  .copyright {
    grid-column-start: 1;
    grid-row-start: 4;
  }
}
